<plugin name='sem-rabbitmq' version='1.1.0' grailsVersion='2.0 &gt; *'>
  <author>Aydın Öztürk</author>
  <authorEmail></authorEmail>
  <title>Grails 2.5.6 RabbitMQ TLSV1.2 </title>
  <description>The native RabbitMQ Grails plugin provides easily consumable messaging functionality.</description>
  <documentation>http://budjb.github.io/grails-rabbitmq-native/doc/manual/guide/index.html</documentation>
  <type>SemRabbitmqGrailsPlugin</type>
  <resources>
    <resource>SemRabbitmqBootStrap</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='https://repo.grails.org/grails/plugins' url='https://repo.grails.org/grails/plugins/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.objenesis' name='objenesis' version='2.1' />
    </test>
    <compile>
      <dependency group='com.rabbitmq' name='amqp-client' version='3.5.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>